# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid

# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
build/

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local
